PORT=4000
CLIENT_URL=http://localhost:8081
JWT_SECRET=change_me_to_a_long_random_string
AUTH_SERVICE_URL=http://localhost:3000
USER_SERVICE_URL=http://localhost:3001
FRIENDSHIP_SERVICE_URL=http://localhost:3002
TAB_SERVICE_URL=http://localhost:3003
